.container {
    height: auto;
    display: flex;
    flex-wrap: wrap;
    width: 430px;
    align-self: center;
    justify-self: center;
}
.grid {
    border: 1px solid black;
    width: 25px;
    height: 25px;
}
